* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 2rem;
  font-family: sans-serif;
}

.card__wrapper {
  width: 1300px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.card__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  margin-top: 4.75rem;
  height: 26.25rem;
  position: relative;
  border-radius: 12px;
}

.card__body:hover {
  background-color: #5ec1d4;
  color: #fff;
}

.card__img {
  width: 15.625rem;
  height: 20rem;
  position: absolute;
  top: -6rem;
}

.card__title {
  margin: 20px 0 10px 0;
  font-weight: 700;
  font-size: 1.75rem;
}

.card__price {
  margin: 20px 0;
  font-weight: 700;
  font-size: 1.75rem;
}

.card__description {
  width: 80%;
  font-size: 0.875rem;
}

.card__btn {
  padding: 0.75rem 2.5rem;
  background-color: #ffb331;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-bottom: 1.25rem;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.15s linear all;
  letter-spacing: 1.4px;
  font-weight: 700;
  transition: 0.15s linear all;
}

.card__btn:hover {
  transform: translateY(-4px);
  background-color: #f0a625;
}

.card__btn:active {
  transform: translateY(-2px);
  background-color: #e29612;
}

.card__price-off {
  position: absolute;
  background-color: #ff2400;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  padding: 0.5rem 1.25rem;
  letter-spacing: 1.2px;
  top: -15px;
  right: -15px;
  color: #fff;
}
